.login_page{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url('../../Assest/background_banner.jpg');
    width: 100vw;
    height: 100vh;
}
.login_nav{
    width: 100vw;
    max-width:80% ;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.login_logo{
    width: 100px;
}
.login_form{
    background: rgba(0,0,0,0.75);
    width: 100%;
    max-width: 380px;
    padding: 40px;
    margin:auto;
}
.login_form form{
    display: flex;
    flex-direction: column;
}
.login_form input{
    height: 40px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    color: #fff;
    background: #333;
    border-radius: 4px;
    margin: 12px 0;
}
.login_form h1{
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 500;
}
.login_form input::placeholder{
    font-size: 14px;
    font-weight: 500;
}

.login_form form button{
    width: 100%;
    padding: 10px;
    background: #e50914;
    font-size: 16px;
    font-weight: 500px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.form_help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    height: 15px;
    width: 15px;
}
.form_swi {
    margin-top:40px ;
}
.form_swi p{
    color: #737373;
}
.form_swi span{
    color: #fff;
    cursor: pointer;
    margin-left: 6px;
    font-weight: 500;
}
.login_spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_spinner img{
    width: 60px;
}




@media screen and (max-width:600px) {
    .login_nav{
        max-width:90% ;
    }
    .login_logo{
        width: 90px;
    }
    .login_form{
        width: 90%;
        padding: 20px;
        margin:90px auto;
    }
    .login_form h1{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .form_help{
        font-size: 12px;
    }
    .remember input{
        height: 12px;
        width: 12px;
    }
    .form_swi {
        margin-top:20px ;
    }
    .form_swi p{
        font-size: 14px;
    }
    .login_spinner{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login_spinner img{
        width: 60px;
    }
}